
.topnav-container {
    background: linear-gradient(45deg, var(--orange), var(--pink));
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 40px;
    color: var(--bg-color);
    position: fixed;
    width: 100vw;
}

.logo {
    font-family: 'Cookie', Verdana, Geneva, Tahoma, sans-serif;
}

.logo:hover {
    cursor: pointer;
}

.navlink {
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.blank {
    padding-top: 45px;
    background: transparent;
    width: 100vw;
    height: 20px;
}
.navlink span {
    margin: 0 20px;
}

@media only screen and (max-width: 600px) {
    .topnav-container {
        padding: 0 10px;
    }
    .navlink span {
        margin: 0 8px;
        font-size: 16px !important;
    }
}